.wrapper {
	position: relative;
	display: grid;
}

.main {
	width: 100%;
	margin: auto;
	box-sizing: content-box;

	@include min-screen($desktop-width) {
		display: grid;
		grid-template-columns: 1fr 410px;
		min-height: calc(100vh - $header-height);
	}
}
